body {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* DARK MODE */
.dark {
    background-color: #111;
    color: white;
}

/* LIGHT MODE */
.light {
    background-color: white;
    color: black;
}

canvas {
    border: 2px solid lime;
}

canvas {
    background-color: black;
    border: 2px solid lime;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
